body {
  background-color: #FFFFFF;
  margin: 1em auto;
  max-width: 36em;
  padding: 1em 1em 2em;
  text-align: center;
}

h1 {
  color: #000000;
  text-align: center;
  font: 300 50px/1.5 Lato, sans-serif; 
}

p {
  color: #000000;
  text-align: center;
  font: 300 30px/1.5 Lato, sans-serif;
}

button {
  border: 0;
  margin: 1em;
  width: 100px;
  height: 100px;
  box-shadow: inset 0 0 0 2px #000000;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}

button:hover {
  transition-duration: 0.2s;
  background-color: #000000;
  color: #FFFFFF;
  }
